<div class="dropdown-container" [class.active]="isOpen">
    <button
        (click)="toggleDropdown()"
        [attr.aria-expanded]="isOpen"
        aria-haspopup="true"
        [class.active]="isOpen"
    >
        <span class="menu__nav">{{ label }}</span>
        <mat-icon
            svgIcon="arrowDown"
            [class.rotated]="isOpen"
            alt=""
            class="arrow"
            aria-hidden="true"
            loading="lazy"
        ></mat-icon>
    </button>

    @if (isOpen) {
    <div class="dropdown-menu" role="menu">
        @for (item of items; track item.link; let i = $index) {
        <a class="menu__nav menu-item" role="menuitem" [routerLink]="item.link">
            {{ item.name }}
        </a>
        @if (i < items.length - 1) {
        <hr class="menu-divider" />
        } }
    </div>
    }
</div>
