<div #progressContainer class="progress-container">
    <svg class="progress-ring" width="120" height="120" viewBox="0 0 120 120">
        <circle class="progress-ring__background" cx="60" cy="60" r="54" />

        <circle
            class="progress-ring__circle progress-ring__progress"
            cx="60"
            cy="60"
            r="54"
            [attr.stroke-dasharray]="339.292"
            [attr.stroke-dashoffset]="
                339.292 - ((startOffset + progress) / 100) * 339.292
            "
        />

        <circle
            class="progress-ring__circle progress-ring__empty"
            cx="60"
            cy="60"
            r="54"
            [attr.stroke-dasharray]="339.292"
            [attr.stroke-dashoffset]="339.292 - (startOffset / 100) * 339.292"
        />
    </svg>
    <div class="progress-text">{{ progress.toFixed(0) }}%</div>
</div>
