@use "../../common/styles/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 5.5vw;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6.25rem;
}

.header__title {
    color: white;
    max-width: 60vw;
    font-size: 2.1875rem;
    font-family: Unbounded, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.1094rem;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
    text-align: center;
}

.header__subtitle {
    color: #D1D1D1;
    width: 45vw;
    font-family: "Fixel Text", serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 0.01875rem;
    text-align: center;
}

.creation-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.56rem;
    border-radius: 0.3rem;
    border: 0.0625rem solid transparent;
    background: linear-gradient(#101010, #101010) padding-box,
    linear-gradient(to right, #EDD342, #524f2e, #EDD342) border-box;
}

.origins-icon {
    padding: 0.9rem;
    color: #EDD342;
    height: 4.5rem;
    width: 5rem;
}

.origins {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.375rem;
    height: 4.375rem;
    border: 0.0625rem solid #615f4c;
    border-radius: 100%;
    margin-bottom: 1.25rem;
}

.creation-history__title {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: Unbounded;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0688rem;
    margin-bottom: 2.2rem;
}

.creation-history__text {
    color: white;
    text-align: center;
    font-family: "Fixel Text";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 0.0187rem;
}

.separation-line {
    color: #606060;
    height: 0.0625rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.founders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6.25rem;
}

.founders__title {
    color: white;
    text-align: center;
    font-family: Unbounded;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0688rem;
    text-transform: uppercase;
    margin-bottom: 2.8125rem;
}

.founders__cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6.25vw;
}

.avatar {
    position: relative;
    width: 100%;
    border-radius: 0.3125rem;
}

.founder {
    display: flex;
    background: #141414;
    flex-direction: column;
    justify-content: center;
    border: #606060 solid 0.0625rem;
    border-radius: 0.67rem;
    padding: 1.5625rem;
    align-items: stretch;
    align-self: stretch;
}

.founder__name {
    color: white;
    text-align: center;
    font-family: Unbounded;
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0563rem;
    text-transform: uppercase;
    margin-top: 2.25rem;
    margin-bottom: 1.55rem;
}

.founder__technical-description {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2.1875rem;
}

.founder__expertise {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    padding: 0.9rem;
    border: #606060 solid 0.0625rem;
    border-radius: 0.1563rem;
}

.founder__work-experience {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    padding: 0.9rem;
    border: #606060 solid 0.0625rem;
    border-radius: 0.1563rem;
}

.expertise__title {
    color: white;
    text-align: center;
    font-family: "Fixel Text";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
}

.work-experience__title {
    color: white;
    text-align: center;
    font-family: "Fixel Text";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
}

.expertise__value {
    color: #EDD342;
    text-align: center;
    font-family: "Fixel Text";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
}

.work-experience__value {
    color: #EDD342;
    text-align: center;
    font-family: "Fixel Text";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
}

.founder-story {
    color: #D1D1D1;
    text-align: center;
    font-family: "Fixel Text";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    letter-spacing: 0.0187rem;
}

.joint-photo {
    width: 100%;
    border-radius: 0.3125rem;
    object-fit: cover;
}

@include mobile {
    .container {
        padding-top: 4rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .header__title {
        font-size: clamp(1.43rem, 5vw, 3.125rem);
    }

    .header__subtitle {
        width: 100%;
    }

    .creation-history__title {
        font-size: 1.125rem;
    }

    .founders__title {
        font-size: 1.25rem;
    }

    .founders__cards {
        display: flex;
        flex-direction: column;
    }

    .founder__name {
        font-size: 1rem;
    }

    .avatar {
        width: 100%;
    }

    .joint-photo {
        display: none;
    }
}
