<footer class="footer">
    <div class="footer__container">
        <section class="footer__left" aria-label="Info">
            <a href="https://icc.knu.ua/" class="footer__logo">
                <img [src]="logoPath" alt="KNU logo" loading="lazy" />
                <div class="footer__logo-text">
                    <span
                        >KNUdev &amp; <br />
                        {{ "footer.logoText" | translate }}</span
                    >
                </div>
            </a>
            <div class="footer__support">
                <span>{{ "footer.support" | translate }}</span>
                <a
                    href="#"
                    class="footer__support-link hyperlink"
                    aria-label="Перейти до підтримки"
                    >{{ "footer.supportLink" | translate }}</a
                >
            </div>
            <nav
                class="footer__social-network-buttons"
                aria-label="Соціальні мережі"
            >
                @for (button of socialLinks; track button.name) {
                <a
                    [href]="button.url"
                    class="icon__button"
                    [attr.aria-label]="button.name"
                >
                    <mat-icon [svgIcon]="button.name"></mat-icon>
                </a>
                }
            </nav>
        </section>

        <section class="footer__right" aria-label="Навігація за розділами">
            <nav class="footer__section" aria-labelledby="institutes-heading">
                <h3 id="institutes-heading" class="footer__heading">
                    {{ "departments.institutes.title" | translate }}
                </h3>
                <ul class="footer__department-list">
                    @for (item of (institutes$ | async | slice:0:5); track
                    $index) {
                    <li>
                        <a
                            [href]="item.link"
                            rel="noopener noreferrer"
                            class="menu__nav"
                        >
                            {{ item.name }}
                        </a>
                    </li>
                    }
                </ul>
                <a
                    href="#"
                    class="footer__more-departments hyperlink"
                    aria-label="Переглянути всі інститути"
                >
                    {{ "footer.more" | translate }}
                </a>
            </nav>

            <nav class="footer__section" aria-labelledby="faculties-heading">
                <h3 id="faculties-heading" class="footer__heading">
                    {{ "departments.faculties.title" | translate }}
                </h3>
                <ul class="footer__department-list">
                    @for (item of (faculties$ | async | slice:0:5); track
                    $index) {
                    <li>
                        <a
                            [href]="item.link"
                            rel="noopener noreferrer"
                            class="menu__nav"
                        >
                            {{ item.name }}
                        </a>
                    </li>
                    }
                </ul>
                <a
                    href="#"
                    class="footer__more-departments hyperlink"
                    aria-label="Переглянути всі факультети"
                >
                    {{ "footer.more" | translate }}
                </a>
            </nav>
        </section>
    </div>
</footer>
