@use "../../common/styles/variables" as *;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin text-style($size: 0.875rem, $weight: 400) {
    font-size: $size;
    font-weight: $weight;
    letter-spacing: 0.05em;
}

a {
    text-decoration: none;
}

.footer {
    background-color: $bg-dark;
    color: $text-light;
    padding: 3.13rem 7.5rem;

    @include for-desktop {
        padding: 3.13rem 4.06rem;
    }

    @include for-tablet {
        padding: 3.13rem 2.63rem;
    }

    @include for-mobile {
        padding: 3.13rem 1.25rem;
    }

    &__container {
        max-width: 105rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 6.8rem;

        @include for-tablet {
            flex-direction: column;
            gap: 3.75rem;
        }

        @include for-mobile {
            gap: 4.6rem;
        }
    }

    &__left {
        width: 29.375rem;
        padding: 2.3125rem 0;
        padding-right: 3rem;
        border-right: 1px solid $border-gray;

        @include for-tablet {
            display: flex;
            justify-content: space-between;
            width: auto;
            border-right: none;
            border-bottom: 1px solid $border-gray;
            padding: 0;
            padding-bottom: 4rem;
        }

        @include for-mobile {
            display: block;
            padding-bottom: 4rem;
        }
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        gap: 3.125rem;

        @include for-tablet {
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 15rem;
        }

        @include for-mobile {
            flex-direction: column;
            gap: 4.75rem;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        margin-bottom: 1.25rem;

        img {
            width: 5rem;
            height: 5.3125rem;
            object-fit: contain;
        }
    }

    &__logo-text {
        font-family: Manrope;
        @include text-style;
        line-height: 1.5625rem;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: $text-light;
    }

    &__support {
        margin-bottom: 4.5rem;

        @include for-tablet {
            margin-bottom: 0;
        }

        @include for-mobile {
            margin-bottom: 2.75rem;
        }

        span {
            font-family: Manrope;
            line-height: 1.195rem;
            @include text-style;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: $text-white;
            margin-right: 0.9375rem;
        }
    }

    &__support-link {
        padding: 0.625rem;
    }

    &__social-network-buttons {
        display: flex;
        gap: 3.125rem;

        @include for-tablet {
            margin: auto 0;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        @include for-mobile {
            width: 100%;
        }
    }

    &__heading {
        font-family: Unbounded;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5625rem;
        letter-spacing: 0.05em;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin: 0;
        margin-bottom: 1.5rem;
        padding: 0rem 0.94rem;
        text-transform: uppercase;
    }

    &__department-list {
        list-style: none;
        padding: 0;
        margin: 0 0 1.25rem 0;

        li {
            margin-bottom: 0.625rem;
            padding: 0.31rem 0.94rem;

            a {
                text-align: start;
            }
        }
    }

    &__more-departments {
        margin-top: auto;
        padding: 0.94rem;
        display: flex;
        width: fit-content;
    }
}
