@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-BlackItalic.woff2")
        format("woff2");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-BoldItalic.woff2")
        format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-ExtraBold.woff2")
        format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-ExtraBoldItalic.woff2")
        format("woff2");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-ExtraLight.woff2")
        format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-ExtraLightItalic.woff2")
        format("woff2");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-LightItalic.woff2")
        format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-MediumItalic.woff2")
        format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-RegularItalic.woff2")
        format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-SemiBoldItalic.woff2")
        format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "FixelText";
    src: url("/assets/fonts/FixelText/FixelText-ThinItalic.woff2")
        format("woff2");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Unbounded";
    src: url("/assets/fonts/Unbounded/Unbounded-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url("/assets/fonts/Unbounded/Unbounded-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url("/assets/fonts/Unbounded/Unbounded-ExtraLight.woff2")
        format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url("/assets/fonts/Unbounded/Unbounded-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url("/assets/fonts/Unbounded/Unbounded-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url("/assets/fonts/Unbounded/Unbounded-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
