$bg-dark: #141414;
$text-light: #d1d1d1;
$text-white: #ffffff;
$border-gray: #6d6d6d;
$accent-yellow: #edd342;
$text-gray: #a0a0a0;

$font-family-base: Unbounded, sans-serif;

@mixin for-desktop {
    @media (max-width: 1920px) {
        @content;
    }
}

@mixin for-tablet {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin for-mobile {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin flex-center($direction: row, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    flex-wrap: $wrap;
}
