<header class="header" [class.scrolled]="isScrolled">
    <div class="header__container" [class.authPage]="isAuthPage()">
        <div class="header__logo">
            <a href="/"
                ><img [src]="isScrolled ? logoMiniPath : logoFullPath"
            /></a>
        </div>

        @if (!isAuthPage()) {
            @if (isMobile) {
                <button class="menu-button" (click)="toggleMenu()">
                    <img
                        [src]="isMenuOpen ? closeIconPath : menuIconPath"
                        alt="menu"
                    />
                </button>
            }

            <div class="menu__container" [class.open]="isMenuOpen || !isMobile">
                <ul class="header__menu-list">
                    @for (item of menu$ | async; track $index) {
                        <li>
                            <a
                                [href]="item.link"
                                rel="noopener noreferrer"
                                class="menu__nav"
                            >
                                {{ item.name }}
                            </a>
                        </li>
                    }
                </ul>
                <hr />
                <div class="menu__bottom">
                    <div class="language-selector" [class.open]="isOpenLang">
                        <button
                            class="selector-button"
                            (click)="toggleDropdownLang()"
                        >
                            <img
                                [src]="getCurrentLanguageFlag()"
                                [alt]="getCurrentLanguageName()"
                                class="flag-icon"
                            />
                            <img
                                [src]="arrowDownPath"
                                class="chevron"
                                [class.up]="isOpenLang"
                            />
                        </button>
                        @if (isOpenLang) {
                            <div class="dropdown-menu">
                                @for (
                                    lang of languageSwitcher.supportedLanguages();
                                    track lang.code
                                ) {
                                    <button
                                        class="language-option"
                                        [class.active]="
                                            lang.code ===
                                            languageSwitcher.currentLang()
                                        "
                                        (click)="selectLanguage(lang.code)"
                                    >
                                        <span>{{ lang.name }}</span>
                                        <img
                                            [src]="lang.imgMiniPath"
                                            [alt]="lang.name"
                                            class="flag-icon"
                                        />
                                    </button>
                                }
                            </div>
                        }
                    </div>
                    <div class="divider"></div>
                    <div class="header__avatar">
                        <a href="auth/register"
                            ><img [src]="avatarNotFoundPath"
                        /></a>
                    </div>
                </div>
            </div>
        }
    </div>
</header>
