@use "../../common/styles/variables" as *;

a {
    text-decoration: none;
}

.header {
    position: sticky;
    background: rgb(16, 16, 16);
    transition: all 0.3s ease;
    top: 0;

    padding: 1.25rem 7.5rem;

    @include for-desktop {
        padding: 1.25rem 4.06rem;
    }

    @include for-tablet {
        padding: 1.25rem 2.63rem;
    }

    @include for-mobile {
        padding: 1.25rem 2.62rem;
    }

    &__logo {
        margin: auto 0;
    }
    &__container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 6.8rem;
        max-width: 105rem;
    }
    &__menu-list {
        display: flex;
        list-style: none;
        gap: 2.81rem;
        padding: 0;
        margin: auto 0;
        li {
            padding: 0.62rem;
        }
    }

    option {
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &__lang-ava {
        display: flex;
        margin: auto 0;
    }

    &__avatar {
        img {
            width: 2rem;
            height: 2rem;
            padding: 0.62rem;
        }
        margin: auto 0;
    }

    .diviver {
        border: 1px solid #343434;
        margin: 0 1.219rem;
    }
}

img {
    transition: all 0.3s ease;
}

.language-selector {
    position: relative;
    display: inline-block;
    margin: auto 0;
}

.selector-button {
    display: flex;
    align-items: center;
    gap: 0.62rem;
    cursor: pointer;
    padding: 0.62rem;
    background: none;
    border: none;
}

.flag-icon {
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
}

.chevron {
    transition: transform 0.2s;
}

.chevron.up {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -100%;
    display: flex;
    flex-direction: column;
    gap: 0.98rem;
    background: #232323;
    border-radius: 10px;
    padding: 1.25rem;
    min-width: 15.625rem;
    box-sizing: border-box;
    z-index: 1000;
}

.language-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.62rem;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #343434;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s;

    img {
        width: 1.5625rem;
        height: 1.5625rem;
        border-radius: 50%;
    }

    span {
        font-family: Geist;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.language-option:hover {
    background: #4a4a4a;
}

.language-option.active {
    background: #343434;
}

.language-option.active:hover {
    background: #4a4a4a;
}
