<header class="header" [class.scrolled]="isScrolled">
    <div class="header__container">
        @if (!isAuthPage()) {
        <div class="header__logo">
            <a href="/">
                <img [src]="isScrolled ? logoMiniPath : logoFullPath" />
            </a>
        </div>
        <ul class="header__menu-list">
            @for (item of menu$ | async; track $index) {
            <li>
                <a
                    [href]="item.link"
                    rel="noopener noreferrer"
                    class="menu__nav"
                >
                    {{ item.name }}
                </a>
            </li>
            }
        </ul>
        <div class="header__avatar">
            <div class="language-selector" [class.open]="isOpen">
                <button class="selector-button" (click)="toggleDropdown()">
                    <img
                        [src]="getCurrentLanguageFlag()"
                        [alt]="getCurrentLanguageName()"
                        class="flag-icon"
                    />
                    <span class="chevron" [class.up]="isOpen">▼</span>
                </button>
                @if(isOpen){
                <div class="dropdown-menu">
                    @for(lang of languageSwitcher.supportedLanguages(); track
                    lang.code) {
                    <button
                        class="language-option"
                        [class.active]="
                            lang.code === languageSwitcher.currentLang()
                        "
                        (click)="selectLanguage(lang.code)"
                    >
                        <img
                            [src]="lang.imgMiniPath"
                            [alt]="lang.name"
                            class="flag-icon"
                        />
                        <span>{{ lang.name }}</span>
                    </button>
                    }
                </div>
                }
            </div>
            <a href="auth/register">Увійти</a>
        </div>
        } @else {
        <h1>LOGO</h1>
        }
    </div>
</header>
