<div class="form-group">
    <div class="input-group">
        <input
            [formControlName]="controlName"
            [placeholder]="label"
            class="default-input"
            [class.default-input__error]="showErrors && formGroup.get(controlName)?.errors"
            [type]="type === 'password' ? (isPasswordVisible ? 'text' : 'password') : type"
            (copy)="preventClipboardAction($event)"
            (cut)="preventClipboardAction($event)"
            (paste)="preventClipboardAction($event)"
            (input)="isEmail && onEmailInput($event)"
            (blur)="isEmail && onEmailBlur()"
        />
        <label class="input-label">{{label}}</label>

        <button
            type="button"
            class="side-text"
            (click)="togglePasswordVisibility()"
        >
            @if(showDomainSuffix()) {
            <span class="domain-suffix">{{domainSuffix}}</span>
            } @if(type === 'password') {
            <img
                [src]="isPasswordVisible ? iconPaths.eyeClose : iconPaths.eyeOpen"
                [alt]="isPasswordVisible ? 'Hide password' : 'Show password'"
                aria-hidden="true"
            />
            }
        </button>
    </div>
    <div class="error">
        @if(showErrors) { @for(item of errors; track $index) {
        @if(formGroup.get(controlName)?.errors?.[item.name]) {
        <mat-icon svgIcon="error"></mat-icon>{{ item.description }} } } } @if
        (backendErrors && backendErrors[controlName]) { @for(error of
        backendErrors[controlName]; track $index) {<mat-icon
            svgIcon="error"
        ></mat-icon>
        {{ error }} } }
    </div>
</div>
