<div class="form-group">
    <div class="input-group">
        <input
            [required]="required"
            [formControlName]="controlName"
            [placeholder]="label"
            class="default-input"
            [class.default-input__error]="showErrors && formGroup.get(controlName)?.errors"
            [class.password]="type === 'password'"
            [type]="type === 'password' ? (isPasswordVisible ? 'text' : 'password') : type"
            (copy)="preventClipboardAction($event)"
            (cut)="preventClipboardAction($event)"
            (paste)="preventClipboardAction($event)"
            (input)="isEmail && onEmailInput($event)"
            (blur)="isEmail && onEmailBlur()"
        />
        <label class="input-label">{{label}}</label>

        @if(showDomainSuffix() || type === 'password'){
        <div class="side-text" (click)="togglePasswordVisibility()">
            @if(showDomainSuffix()) {
            <span class="domain-suffix">{{domainSuffix}}</span>
            } @if(type === 'password') {
            <img
                [src]="isPasswordVisible ? iconPaths.eyeClose : iconPaths.eyeOpen"
                [alt]="isPasswordVisible ? 'Hide password' : 'Show password'"
                aria-hidden="true"
            />
            }
        </div>
        }
    </div>

    @if(showErrors) { @for(errorKey of errors; track $index) {
    @if(formGroup.get(controlName)?.errors?.[errorKey]) {
    <div class="error">
        <mat-icon svgIcon="error"></mat-icon>
        <span
            >{{ translationPrefix + '.' + controlName + '.errors.' + errorKey |
            translate }}</span
        >
    </div>
    } } } @if (backendErrors && backendErrors[controlName]) { @for(error of
    backendErrors[controlName]; track $index) {
    <div class="error">
        <mat-icon svgIcon="error"></mat-icon>
        <span>{{ error }}</span>
    </div>
    } }
</div>
