<section class="career-path">
    <h2 class="section-title">Можливості кар'єрного росту</h2>
    <div class="role-list">
        <div class="role-card intern-card">
            <div class="role-content">
                <h3 class="role-title">Intert</h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    Жескій маніпулятор, тру сігма, красава.
                </p>
            </div>
        </div>
        <mat-icon
            svgIcon="intern-developer"
            loading="lazy"
            alt="Arrow indicating progression from Master Developer to Team Lead role"
            class="progression-arrow"
        ></mat-icon>
        <div class="role-card developer-card">
            <div class="role-content">
                <h3 class="role-title">developer</h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    Робить дохуя умного, але насправді тупий.
                </p>
            </div>
        </div>
        <mat-icon
            svgIcon="developer-premaster"
            loading="lazy"
            alt="Arrow indicating progression from Master Developer to Team Lead role"
            class="progression-arrow"
        ></mat-icon>
        <div class="role-card premaster-card">
            <div class="role-content">
                <h3 class="role-title">pre-master</h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    Робить дохуя умного, але насправді тупий.
                </p>
            </div>
        </div>
        <mat-icon
            svgIcon="premaster-master"
            loading="lazy"
            alt="Arrow indicating progression from Master Developer to Team Lead role"
            class="progression-arrow"
        ></mat-icon>
        <div class="role-card master-card">
            <div class="role-content">
                <h3 class="role-title">master-developer</h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    Робить дохуя умного, але насправді тупий.
                </p>
            </div>
        </div>
        <mat-icon
            svgIcon="master-teamlead"
            loading="lazy"
            alt="Arrow indicating progression from Master Developer to Team Lead role"
            class="progression-arrow"
        ></mat-icon>
        <div class="role-card teamlead-card">
            <div class="role-content">
                <h3 class="role-title">team-lead</h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    Робить дохуя умного, але насправді тупий.
                </p>
            </div>
        </div>
    </div>
    <p class="instruction-text" tabindex="0">
        Натисніть на будь яку з ролей, аби дізнатися більше про неї
    </p>
</section>
