<section class="career-path">
    <h2 #animatedElement class="section-title">
        {{ "career-path.title" | translate }}
    </h2>
    <div #animatedElement class="role-list">
        <div class="role-card intern-card">
            <div class="role-content">
                <h3 class="role-title">
                    {{ "career-path.role-card-1.title" | translate }}
                </h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    {{ "career-path.role-card-1.description" | translate }}
                </p>
            </div>
        </div>
        <mat-icon
            svgIcon="intern-developer"
            loading="lazy"
            alt="Arrow indicating progression from Master Developer to Team Lead role"
            class="progression-arrow"
        ></mat-icon>
        <div class="role-card developer-card">
            <div class="role-content">
                <h3 class="role-title">
                    {{ "career-path.role-card-2.title" | translate }}
                </h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    {{ "career-path.role-card-2.description" | translate }}
                </p>
            </div>
        </div>
        <mat-icon
            svgIcon="developer-premaster"
            loading="lazy"
            alt="Arrow indicating progression from Master Developer to Team Lead role"
            class="progression-arrow"
        ></mat-icon>
        <div class="role-card premaster-card">
            <div class="role-content">
                <h3 class="role-title">
                    {{ "career-path.role-card-3.title" | translate }}
                </h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    {{ "career-path.role-card-3.description" | translate }}
                </p>
            </div>
        </div>
        <mat-icon
            svgIcon="premaster-master"
            loading="lazy"
            alt="Arrow indicating progression from Master Developer to Team Lead role"
            class="progression-arrow"
        ></mat-icon>
        <div class="role-card master-card">
            <div class="role-content">
                <h3 class="role-title">
                    {{ "career-path.role-card-4.title" | translate }}
                </h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    {{ "career-path.role-card-4.description" | translate }}
                </p>
            </div>
        </div>
        <mat-icon
            svgIcon="master-teamlead"
            loading="lazy"
            alt="Arrow indicating progression from Master Developer to Team Lead role"
            class="progression-arrow"
        ></mat-icon>
        <div class="role-card teamlead-card">
            <div class="role-content">
                <h3 class="role-title">
                    {{ "career-path.role-card-5.title" | translate }}
                </h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    {{ "career-path.role-card-5.description" | translate }}
                </p>
            </div>
        </div>
    </div>
    <p #animatedElement class="instruction-text" tabindex="0">
        {{ "career-path.instruction-text" | translate }}
    </p>
</section>
