<nav [class.active]="isOpen()" class="dropdown-container">
    <button
        (click)="toggleDropdown()"
        [attr.aria-expanded]="isOpen()"
        [class.active]="isOpen()"
        aria-controls="dropdown-menu"
        aria-haspopup="true"
    >
        <span class="menu__nav">{{ label }}</span>
        <mat-icon
            [class.rotated]="isOpen()"
            aria-hidden="true"
            class="arrow"
            svgIcon="arrowDown"
        ></mat-icon>
    </button>

    @if (isOpen()) {
    <ul id="dropdown-menu" class="dropdown-menu" role="menu">
        @for (item of items; track item.link; let i = $index) {
        <li>
            <a
                class="menu__nav menu-item"
                role="menuitem"
                [routerLink]="item.link"
            >
                {{ item.name }}
            </a>
        </li>
        @if (i < items.length - 1) {
        <hr class="menu-divider" aria-hidden="true" />
        } }
    </ul>
    }
</nav>
