@use "../../common/styles/variables" as *;
@use "../../common/styles/button/main-button/fill-button" as fill-button;

.program {
    padding: 80px 88px;
}

.section-divider {
    height: 1px;
    color: #343434;
    background-color: #343434;
    border: none;
    margin: 50px 0;
}

.program__summary {
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #343434;
    background: #141414;
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .summary__title {
        text-transform: uppercase;
        color: #FFF;
        text-align: left;
        font-family: Unbounded, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.9px;
        margin-bottom: 15px;
    }

    .summary__meta-items {
        display: flex;
        gap: 15px;
        align-items: center;

        .meta__item {
            max-height: 20px;
            color: #FFF;
            text-align: center;
            font-family: "Fixel Text", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.28px;
        }

        .item_red {
            color: #642A2A;
        }

        .item_green {
            color: #51C841;
        }

        .item_darker {
            color: #D1D1D1;
        }
    }

    .summary__control {
        display: flex;
        gap: 10px;
        align-items: center;
        //height: 100%;
        max-height: 25px;
        overflow: hidden;

        .control__icon {
            cursor: pointer;
            width: 25px;
            height: 25px;
            //width: fit-content;
            //height: fit-content;
        }

        .control__divider {
            width: 2px;
            border-color: red;
            //border: none;
            //height: au;
            //background-color: red;
            margin: 0 0;
            transform: rotate(90deg);
        }
    }

}

.content-changed {
    margin-top: 25px;
    width: 100%;
    padding: 15px;
    @include flex-center();
    color: #D1D1D1;
    font-family: "Fixel Text", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-radius: 5px;
    border: 1px solid var(--border-yellow-400, #CDB945);
    background: var(--bg-nat-975, #141414);
    justify-content: flex-start;
    gap: 15px;

    .content-changed__icon {
        color: $accent-yellow;
        width: 20px;
        height: 20px;
    }

}


.details__divider {
    width: 2px;
    border: none;
    height: 100%;
    background-color: red;
    margin: 0 0;
    transform: rotate(180deg);
}

.vertical-line {
    writing-mode: vertical-lr;
    height: 100%;
    width: 1px;
    color: #343434;
    background-color: #343434;
    border: none;
    //position: absolute;
}

.scroll-wrapper {
    max-height: 610px;
    overflow-y: auto;
    padding-top: 10px;   // so scrollbar doesn't start at very top
    padding-bottom: 10px;

    // Then apply your scrollbar styles here
    scrollbar-width: thin;
    scrollbar-color: #343434 #141414;

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: #141414;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #343434;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #EDD342;
    }
}



.program__details {
    height: 610px;
    width: 100%;
    flex: 1 1 0;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;



    .details__section {
        overflow-y:  auto;
        max-height: 610px;

        scrollbar-width: thin;
        scrollbar-color: #343434 #141414;

        &::-webkit-scrollbar {
            position: absolute;
            bottom: 0;
            width: 8px;

            &::before {
                content: '';
                margin: 10px;
                display: block;
            }
        }
        &::-webkit-scrollbar-track {
            background: #141414;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #343434;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #EDD342;
        }


        box-sizing: border-box;
        height: 610px;
        width: 515px;
        max-width: 515px;


        .section__title-container {
            margin-bottom: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            .section__title-text {
                color: #FFF;
                text-align: center;
                /* desktop and tablet/h text/h4 */
                font-family: Unbounded, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 25px; /* 156.25% */
                letter-spacing: 0.8px;
                text-transform: uppercase;
            }

            .section__title-amount {
                color: #A0A0A0;
                text-align: center;
                /* desktop and tablet/h text/h5 */
                font-family: Unbounded, sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 25px; /* 178.571% */
                letter-spacing: 0.7px;
                text-transform: uppercase;
            }

        }

        .section__create-section-btn {
            height: 4.688rem;
            padding: 15px;
            border-radius: 5px;
            border: 2px dashed #343434;
            width: 100%;
            background: none;
            color: var(--text-nat-200, #D1D1D1);
            text-align: center;
            font-family: "Fixel Text", sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 173.333% */
            letter-spacing: 0.3px;
            transition: all 0.5s ease;
            cursor: pointer;

            &:hover {
                border-color: #EDD342;
            }
        }
    }

    .section__items {
        margin-top: 25px;
        margin-bottom: 20px;
        //max-height;

    }
}

.learning-unit-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    p {
        color: #888;
        text-align: center;
        /* desktop and tablet/body/body 1 */
        font-family: "Fixel Text", sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 173.333% */
        letter-spacing: 0.3px;
    }
}

.program__save {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    gap: 50px;
    border-radius: 5px;
    border: 1px solid var(--border-nat-900, #343434);
    height: 130px;

    .save__button {
        height: auto;
        width: 100%;
    }


    //@include flex-center()
}

.no-learning-unit {
    @include flex-center(column);
    .no-learning-unit__icon {
        width: 2.188rem;
        height: 2.188rem;
    }

    .no-learning-unit__text {
        margin-top: 0.938rem;
        color: var(--text-nat-400, #888);
        text-align: center;
        font-family: "Fixel Text", sans-serif;
        font-size: 0.938rem;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.3px;
    }
}
