.hero {
    overflow: hidden;
    display: flex;
    padding: 0 5.5rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 3.125rem;
    align-self: stretch;
}

.hero::before,
.hero::after {
    content: "";
    position: absolute;
    width: 10.5rem;
    height: 10rem;
    filter: blur(72.9px);
    z-index: -1;
    transform: translateY(50%);
    clip-path: polygon(-100% -100%, 200% -100%, 200% 50%, -100% 50%);
}

.hero::before {
    left: 100px;
    background: #edd34226;
}

.hero::after {
    right: 100px;
    background: #e5383a26;
}

.hero-content {
    margin-top: 11.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.19rem;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-nat-0, #FFF);
    text-align: center;

    font-family: Unbounded;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15625rem;
    text-transform: uppercase;
}

.hero-heading {
    color: #fff;
    text-align: center;
    margin: 0;
    font: inherit;
}

.hero-highlight {
    color: #e5383a;
    white-space: nowrap;
}

.hero-description {
    color: #d1d1d1;
    text-align: center;
    width: 600px;
    font-family: Geist;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 0.05rem;
}

.hero-banner {
    display: flex;
    width: 81.5rem;
    max-width: 100%;
    flex-direction: column;
    font-family: Geist, sans-serif;
    animation: 1s show ease;

    align-items: flex-start;
    gap: 1.25rem;
}
.banner-info {
    width: 100%;
    color: #a0a0a0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-self: stretch;
    font-family: Geist;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.banner-container {
    position: relative;
    display: flex;
    max-width: 81.5rem;
    width: 100%;
    height: 19.5rem;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.3125rem 0.3125rem 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, #edd342, #e5393b) 1;
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 0;
}

.banner-content {
    position: relative;
    display: flex;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
}

.banner-actions {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.action-button {
    border: none;
    cursor: pointer;
    transform: scale(1.2);
    animation: 1s showBut ease forwards;
    animation-delay: 1s;

    display: flex;
    width: 16.9375rem;
    height: 3.4375rem;
    padding: 1.125rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    text-align: center;

    font-family: Geist;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
}

.action-button.primary {
    border-radius: 0.3125rem;
    background: #EDD342;
    color: #101010;
}

.action-button.secondary {
    background: #E5383A;
    color: #fff;
}

.action-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5.75rem;

    justify-content: center;
    gap: 0.9375rem;

    font-family: Geist;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.015rem;
}

.divider-line {
    height: 1.25rem;
    width: 0;
    border: 0.0625rem solid #6D6D6D;
}

.divider-text {
    color: #fff;
    border-radius: 2.6875rem;
    border: 1px solid #6D6D6D;
    background: #141414;
    padding: 10px;
    margin: 15px 0;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showBut {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}
