@use "../../../../common/styles/variables" as *;

a {
    @include flex-center(row);
    width: 21.875rem;
    height: 3.438rem;
    padding: 1.125rem 1.25rem;
    border-radius: 5px;
    border: 1px solid var(--arrow-button-border-color);
    background: none;
    color: #d1d1d1;
    font-size: 0.938em;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.047rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    &.profile__meta-button--full {
        width: 100%;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--arrow-button-hover-color);
        color: $text-white;
    }

    mat-icon {
        margin-left: 0.3125rem;
    }

    @include mobile{
        width: auto;
        align-self: start;
    }

    @include tablet {
        width: 100%;
    }
}
