<div class="recruitment-container">
    <div class="icons">
        <div class="icon" #floatingIcon style="top: 15%; left: 15%">
            <mat-icon svgIcon="bug_report"></mat-icon>
        </div>
        <div class="icon" style="top: 50%; left: 7.5%">
            <mat-icon svgIcon="mouse"></mat-icon>
        </div>
        <div class="icon" style="bottom: 15%; left: 15%">
            <mat-icon svgIcon="analytics"></mat-icon>
        </div>
        <div class="icon" style="top: 15%; right: 15%">
            <mat-icon svgIcon="edit"></mat-icon>
        </div>
        <div class="icon" style="top: 50%; right: 7.5%">
            <mat-icon svgIcon="calendar_today"></mat-icon>
        </div>
        <div class="icon" style="bottom: 15%; right: 15%">
            <mat-icon svgIcon="calendar_today"></mat-icon>
        </div>
    </div>

    <div class="content">
        <h1>НАБОРИ</h1>
        <p>
            Набори - це процес відбору нових учасників до організації,<br />
            команди або проєкту, який відкриває можливості для професійного<br />
            та особистісного розвитку.
        </p>

        <div class="buttons">
            <button class="campus">Кампус</button>
            <button>Пре-Кампус</button>
        </div>
    </div>
</div>
