<li class="item-card">
    <img [alt]="title" [src]="banner" class="item-card__image"/>
    <h4 class="item-card__title">{{ title | multiLangField }}</h4>
    <p class="item-card__description">{{ description | multiLangField }}</p>
    @if (details && details.length) {
        <ng-container>
            <div class="item-card__details">
                @for (detail of details; track $index) {
                    <div class="item-card__details-row">
                        <span class="item-card__details-label">{{ detail.label }}</span>
                        <span class="item-card__details-value">{{ detail.value }}</span>
                    </div>
                    <hr class="profile__education-item-divider"/>
                }
            </div>
        </ng-container>
    }

    @if (showButton) {
        <ng-container>
            <app-border-button [borderColor]="buttonColor"
                          [text]="buttonText"
                          [fullWidth]="true"
            />
        </ng-container>
    }
</li>
