@use "../variables.scss" as *;

.icon__button {
    width: 10.9375rem;
    height: 3.125rem;
    border: 1px solid $border-gray;
    background: transparent;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        border-color: $accent-yellow;
        img {
            filter: brightness(0) saturate(100%) invert(93%) sepia(33%)
                saturate(1027%) hue-rotate(334deg) brightness(92%)
                contrast(101%);
        }
    }
    /*
    &:focus {
        padding: 10px;
        gap: 0px;
        border-radius: 5px;
        border: 2px solid $text-light;
        opacity: 0px;
        color: $text-light;
    }
    */

    &:active {
        border-color: #cdb945;
        img {
            filter: brightness(0) saturate(100%) invert(81%) sepia(23%)
                saturate(1170%) hue-rotate(5deg) brightness(93%) contrast(80%);
        }
    }
}
