@use "../variables.scss" as *;

.menu__nav {
    font-family: "Fixel Text", sans-serif;
    line-height: 1.5625rem;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $text-gray;
    transition: all 0.3s ease;

    &:hover {
        color: $text-light !important;
    }

    &:focus-visible {
        padding: 0.625rem;
        border-radius: 5px;
        border: 1px solid $text-light;
        opacity: 0;
        color: $text-light !important;
    }

    &:active {
        color: #888888 !important;
    }
}
