<div #animatedElement class="role-list">
    <div class="reveal-container card-container">
        <article
            #animatedElement
            class="role-card intern-card"
            [routerLink]="['/about-role']"
            [queryParams]="{ role: 'INTERN' }"
        >
            <div class="role-content">
                <h3 class="role-title">
                    {{ "career-path.role-card-1.title" | translate }}
                </h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    {{ "career-path.role-card-1.description" | translate }}
                </p>
            </div>
        </article>
    </div>
    <div class="reveal-container">
        <span #animatedElement class="progression-arrow-span">
            <mat-icon
                svgIcon="intern-developer"
                loading="lazy"
                alt="Arrow indicating progression from Master Developer to Tech Lead role"
                class="progression-arrow"
            ></mat-icon>
        </span>
    </div>
    <div class="reveal-container card-container">
        <article
            #animatedElement
            class="role-card developer-card"
            [routerLink]="['/about-role']"
            [queryParams]="{ role: 'DEVELOPER' }"
        >
            <div class="role-content">
                <h3 class="role-title">
                    {{ "career-path.role-card-2.title" | translate }}
                </h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    {{ "career-path.role-card-2.description" | translate }}
                </p>
            </div>
        </article>
    </div>
    <div class="reveal-container">
        <span #animatedElement class="progression-arrow-span">
            <mat-icon
                svgIcon="developer-premaster"
                loading="lazy"
                alt="Arrow indicating progression from Master Developer to Tech Lead role"
                class="progression-arrow"
            ></mat-icon>
        </span>
    </div>
    <div class="reveal-container card-container">
        <article
            #animatedElement
            class="role-card premaster-card"
            [routerLink]="['/about-role']"
            [queryParams]="{ role: 'PREMASTER' }"
        >
            <div class="role-content">
                <h3 class="role-title">
                    {{ "career-path.role-card-3.title" | translate }}
                </h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    {{ "career-path.role-card-3.description" | translate }}
                </p>
            </div>
        </article>
    </div>
    <div class="reveal-container">
        <span #animatedElement class="progression-arrow-span">
            <mat-icon
                svgIcon="premaster-master"
                loading="lazy"
                alt="Arrow indicating progression from Master Developer to Tech Lead role"
                class="progression-arrow"
            ></mat-icon>
        </span>
    </div>
    <div class="reveal-container card-container">
        <article
            #animatedElement
            class="role-card master-card"
            [routerLink]="['/about-role']"
            [queryParams]="{ role: 'MASTER' }"
        >
            <div class="role-content">
                <h3 class="role-title">
                    {{ "career-path.role-card-4.title" | translate }}
                </h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    {{ "career-path.role-card-4.description" | translate }}
                </p>
            </div>
        </article>
    </div>
    <div class="reveal-container">
        <span #animatedElement class="progression-arrow-span">
            <mat-icon
                svgIcon="master-techlead"
                loading="lazy"
                alt="Arrow indicating progression from Master Developer to Tech Lead role"
                class="progression-arrow"
            ></mat-icon>
        </span>
    </div>
    <div class="reveal-container card-container">
        <article
            #animatedElement
            class="role-card techlead-card"
            [routerLink]="['/about-role']"
            [queryParams]="{ role: 'TECHLEAD' }"
        >
            <div class="role-content">
                <h3 class="role-title">
                    {{ "career-path.role-card-5.title" | translate }}
                </h3>
                <div class="role-divider"></div>
                <p class="role-description">
                    {{ "career-path.role-card-5.description" | translate }}
                </p>
            </div>
        </article>
    </div>
</div>
