@use "../../styles/variables.scss" as *;

.role-list {
    display: flex;
    width: 100%;
    align-items: stretch;
    gap: 0.94rem;
    justify-content: start;
    flex-wrap: wrap;
    .reveal-container {
        display: flex;
        width: auto;
    }

    .reveal-container.card-container {
        flex: 1;
    }
}

.role-card,
.progression-arrow-span > .progression-arrow {
    opacity: 0;
}

.role-list.visible {
    .role-card,
    .progression-arrow-span > .progression-arrow {
        animation: slideRight 0.35s ease forwards;
    }
}

.role-list {
    .reveal-container:nth-of-type(1) article.visible {
        animation-delay: 0s;
    }
    .reveal-container:nth-of-type(2) span.visible > .progression-arrow {
        animation-delay: 0.175s;
    }
    .reveal-container:nth-of-type(3) article.visible {
        animation-delay: 0.35s;
    }
    .reveal-container:nth-of-type(4) span.visible > .progression-arrow {
        animation-delay: 0.525s;
    }
    .reveal-container:nth-of-type(5) article.visible {
        animation-delay: 0.7s;
    }
    .reveal-container:nth-of-type(6) span.visible > .progression-arrow {
        animation-delay: 0.875s;
    }
    .reveal-container:nth-of-type(7) article.visible {
        animation-delay: 1.05s;
    }
    .reveal-container:nth-of-type(8) span.visible > .progression-arrow {
        animation-delay: 1.225s;
    }
    .reveal-container:nth-of-type(9) article.visible {
        animation-delay: 1.4s;
    }
}

.role-card {
    align-items: start;
    gap: 10px;
    color: #fff;
    justify-content: start;
    height: 100%;
    max-width: 62.5rem;
    margin: auto;
    flex-basis: 0%;

    display: flex;
    padding: 1.25rem 1.5625rem;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.role-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 0.9375rem;
    flex: 1;
}

.role-title {
    font-family: "Unbounded", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5625rem; /* 178.571% */
    letter-spacing: 0.04375rem;
    text-transform: uppercase;
}

.role-divider {
    min-height: 1px;
    width: 100%;
}

.role-description {
    flex: 1;
    font-family: "Fixel Text", sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 173.333% */
    letter-spacing: 0.01875rem;
    color: #d1d1d1;
}

.progression-arrow-span {
    display: flex;
    margin: auto;
}

.progression-arrow {
    aspect-ratio: 4.55;
    object-fit: contain;
    object-position: center;
    width: 50px;
    align-self: stretch;
    margin: auto;
}

.intern-card {
    border: 1px solid #4264ed;
}

.intern-card:hover {
    background-color: #3147a2;
    border-color: #3147a2;
    box-shadow: 0px 0px 15px 0px rgba(66, 100, 237, 0.15);
    .role-divider {
        border-color: #fff;
    }
}

.intern-card .role-divider {
    border: 1px solid #4264ed;
}

.developer-card {
    border: 1px solid #e5383a;
}

.developer-card:hover {
    background-color: #b82f31;
    border-color: #b82f31;
    box-shadow: 0px 0px 15px 0px rgba(229, 56, 58, 0.15);
    .role-divider {
        border-color: #fff;
    }
}

.developer-card .role-divider {
    border: 1px solid #e5383a;
}

.premaster-card {
    border: 1px solid #3fcb49;
}

.premaster-card:hover {
    background-color: #36692f;
    border-color: #36692f;
    box-shadow: 0px 0px 15px 0px rgba(63, 203, 73, 0.15);
    .role-divider {
        border-color: #fff;
    }
}

.premaster-card .role-divider {
    border: 1px solid #3fcb49;
}

.master-card {
    border: 1px solid #9542ed;
}

.master-card:hover {
    background-color: #592a8b;
    border-color: #592a8b;
    box-shadow: 0px 0px 15px 0px rgba(149, 66, 237, 0.15);
    .role-divider {
        border-color: #fff;
    }
}

.master-card .role-divider {
    border: 1px solid #9542ed;
}

.teamlead-card {
    border: 1px solid #edd342;
}

.teamlead-card:hover {
    background-color: #dec63c;
    border-color: #dec63c;
    box-shadow: 0px 0px 15px 0px rgba(237, 211, 66, 0.15);
    .role-description {
        color: #101010;
    }
    .role-divider {
        border-color: #fff;
    }
}

.teamlead-card .role-divider {
    border: 1px solid #edd342;
}

@include tablet-horizontal {
    .role-card.visible,
    .progression-arrow-span.visible > .progression-arrow {
        animation-delay: 0s !important;
    }
    .role-list {
        flex-direction: column;
    }

    .progression-arrow {
        rotate: 90deg;
        height: 80px;
    }

    .role-list.visible {
        .role-card,
        .progression-arrow-span > .progression-arrow {
            animation: none;
        }
    }

    .role-card.visible {
        animation: slideDown 1s ease forwards !important;
    }

    .progression-arrow-span.visible > .progression-arrow {
        animation: slideRight 1s ease forwards !important;
    }

    .role-title {
        text-align: center;
    }

    .role-description {
        text-align: center;
    }
}
