@use "./common/styles/reset-style.scss";
@use "./common/styles/button/menu_nav.scss";
@use "./common/styles/button/icon_button.scss";
@use "./common/styles/hyperlink.scss";
@use "./common/styles/lang-switch.scss";
@use "./common/styles/input/default-input.scss";
@use "./common/styles/button/main-button/fill-button.scss";
@use "./common/styles/fonts.scss";

* {
    transition: all 0.2s ease-out;
}

.form-group {
    width: 100%;
}

@keyframes slideDown {
    from {
        transform: translate3d(0, -100%, -100px);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translate3d(0, 100%, -100px);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translate3d(100%, 0, -100px);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translate3d(-100%, 0, -100px);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes scaling {
    from {
        transform: scale(1.2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.visible {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
}

.reveal-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 1px;
    &:not(:last-child) {
        margin: -1px;
    }
}
