<main class="register">
    <div class="register__container">
        @if (currentRegistrationPhase() === 1) {
        <div class="form-container">
            <a [routerLink]="['/']" class="hyperlink homePageLink">
                <mat-icon svgIcon="arrowLeft"></mat-icon>
                <span>
                    {{ "register.goHomeLink" | translate }}
                </span>
            </a>
            <form [formGroup]="personalInfoForm()" (ngSubmit)="goToNextStep()">
                <h2>{{ "register.title" | translate }}</h2>
                <div class="forms">
                    <div class="fullName">
                        <app-label-input
                            controlName="firstName"
                            [translationPrefix]="'register'"
                            [label]="'register.firstName.label' | translate"
                            [errors]="VALIDATION_KEYS.firstName"
                            (input)="onNameInput($event, 'firstName')"
                            (keydown)="onNameKeyDown($event)"
                        ></app-label-input>

                        <app-label-input
                            controlName="lastName"
                            [translationPrefix]="'register'"
                            [label]="'register.lastName.label' | translate"
                            [errors]="VALIDATION_KEYS.lastName"
                            (input)="onNameInput($event, 'lastName')"
                            (keydown)="onNameKeyDown($event)"
                        ></app-label-input>

                        <app-label-input
                            controlName="middleName"
                            [translationPrefix]="'register'"
                            [label]="'register.middleName.label' | translate"
                            [errors]="VALIDATION_KEYS.middleName"
                            (input)="onNameInput($event, 'middleName')"
                            (keydown)="onNameKeyDown($event)"
                        ></app-label-input>
                    </div>

                    @if (hasNonEnglishName()) {
                    <div class="warning fullname-warning">
                        <mat-icon svgIcon="errorTriangle"></mat-icon>
                        <span>{{ "register.englishOnly" | translate }}</span>
                    </div>
                    }

                    <div class="email">
                        <app-label-input
                            controlName="email"
                            [translationPrefix]="'register'"
                            [label]="'register.email.label' | translate"
                            [errors]="VALIDATION_KEYS.email"
                            type="email"
                            [isEmail]="true"
                            domainSuffix="@knu.ua"
                            (emailInput)="onEmailInput($event)"
                            (emailBlur)="formatEmailOnBlur()"
                        ></app-label-input>

                        <div class="email-create">
                            <p>{{ "register.KNUEmail.label" | translate }}</p>
                            <a
                                href="https://student.triton.knu.ua/CorporativeMail"
                                class="hyperlink"
                                >{{ "register.KNUEmail.link" | translate }}</a
                            >
                        </div>
                    </div>
                    <div class="password">
                        <app-label-input
                            controlName="password"
                            [translationPrefix]="'register'"
                            [label]="'register.password.label' | translate"
                            [errors]="VALIDATION_KEYS.password"
                            type="password"
                            [preventClipboard]="true"
                        ></app-label-input>

                        <app-label-input
                            controlName="confirmPassword"
                            [translationPrefix]="'register'"
                            [label]="
                                'register.confirmPassword.label' | translate
                            "
                            [errors]="VALIDATION_KEYS.confirmPassword"
                            type="password"
                            [preventClipboard]="true"
                        ></app-label-input>
                    </div>

                    <div class="github">
                        <app-label-input
                            controlName="githubAccountUsername"
                            [translationPrefix]="'register'"
                            [label]="
                                'register.githubAccountUsername.label'
                                    | translate
                            "
                            [errors]="VALIDATION_KEYS.githubAccountUsername"
                            (input)="onGithubAccountInput($event)"
                        ></app-label-input>

                        <div class="github-info">
                            <p>
                                {{
                                    "register.githubAccountUsername.info"
                                        | translate
                                }}
                            </p>
                        </div>
                    </div>
                </div>
                <button type="submit" class="fill-button fill-red">
                    {{ "register.continue" | translate }}
                </button>

                <div class="login">
                    <p>{{ "register.haveAccount.label" | translate }}</p>
                    <a [routerLink]="['/auth/login']" class="hyperlink">
                        {{ "register.haveAccount.link" | translate }}
                    </a>
                </div>
            </form>
        </div>
        } @if (currentRegistrationPhase() === 2) {
        <form
            [formGroup]="academicInfoForm()"
            (ngSubmit)="onSubmit()"
            class="formSecond"
        >
            <h2>{{ "register.title" | translate }}</h2>
            <div class="inputs">
                <div class="firstRow">
                    <div class="form-group">
                        <app-write-dropdowns
                            [class.drop-down__error]="departmentLoadError()"
                            [options]="departments"
                            [placeholder]="
                                'register.departments.label' | translate
                            "
                            valueField="id"
                            formControlName="departmentId"
                            (selectionChange)="onDepartmentChange()"
                            [hasError]="departmentLoadError()"
                            [errorMessage]="
                                'errors.departmentLoadError' | translate
                            "
                        ></app-write-dropdowns>
                        @if (showValidationErrors() &&
                        academicInfoForm().get("departmentId")?.errors?.[
                        "required"]) {
                        <div class="error">
                            <mat-icon svgIcon="errorQuadrilateral"></mat-icon>
                            You must select a department
                        </div>
                        } @if (formErrorService.backendErrors()["departmentId"])
                        { @for (error of
                        formErrorService.backendErrors()["departmentId"]; track
                        $index) {
                        <div class="error">
                            <mat-icon svgIcon="errorQuadrilateral"></mat-icon>
                            {{ error }}
                        </div>
                        } }
                    </div>

                    <div class="form-group">
                        @if (!academicInfoForm().get("departmentId")?.value) {
                        <app-write-dropdowns
                            [options]="(specialties$ | async) || []"
                            [placeholder]="
                                'register.specialties.label' | translate
                            "
                            valueField="codeName"
                            formControlName="specialtyCodename"
                            class="disabled"
                        ></app-write-dropdowns>
                        <p class="warning">
                            <mat-icon svgIcon="errorTriangle"></mat-icon>
                            <span>{{
                                "register.mustSelectDepartment" | translate
                            }}</span>
                        </p>
                        } @else {
                        <app-write-dropdowns
                            [class.drop-down__error]="specialtyLoadError()"
                            [options]="(specialties$ | async) || []"
                            [placeholder]="
                                'register.specialties.label' | translate
                            "
                            valueField="codeName"
                            formControlName="specialtyCodename"
                            [hasError]="specialtyLoadError()"
                            [errorMessage]="
                                'errors.specialtyLoadError' | translate
                            "
                        ></app-write-dropdowns>
                        @if (showValidationErrors() &&
                        academicInfoForm().get("specialtyCodename")?.errors?.["required"])
                        {
                        <div class="error">
                            <mat-icon svgIcon="errorQuadrilateral"></mat-icon>
                            You must select a specialty
                        </div>
                        } @if
                        (formErrorService.backendErrors()["specialtyCodename"])
                        { @for (error of
                        formErrorService.backendErrors()["specialtyCodename"];
                        track $index) {
                        <div class="error">
                            <mat-icon svgIcon="errorQuadrilateral"></mat-icon>
                            {{ error }}
                        </div>
                        } } }
                    </div>
                </div>
                <div class="secondRow">
                    <div class="form-group">
                        <app-write-dropdowns
                            [class.drop-down__error]='(showValidationErrors() &&
                        academicInfoForm().get("yearOfStudy")?.errors?.["required" ]
                        || formErrorService.backendErrors()["yearOfStudy"])'
                            [options]="yearOfStudy"
                            [placeholder]="
                                'register.yearOfStudy.label' | translate
                            "
                            valueField="id"
                            displayField="displayedName"
                            formControlName="yearOfStudy"
                        ></app-write-dropdowns>
                        @if (showValidationErrors() &&
                        academicInfoForm().get("yearOfStudy")?.errors?.["required"])
                        {
                        <div class="error">
                            <mat-icon svgIcon="errorQuadrilateral"></mat-icon>
                            You must select a yearOfStudy
                        </div>
                        } @if (formErrorService.backendErrors()["yearOfStudy"])
                        { @for (error of
                        formErrorService.backendErrors()["yearOfStudy"]; track
                        $index) {
                        <div class="error">
                            <mat-icon svgIcon="errorQuadrilateral"></mat-icon>
                            {{ error }}
                        </div>
                        } }
                    </div>

                    <div class="form-group">
                        <app-write-dropdowns
                            [class.drop-down__error]='(showValidationErrors() &&
                                academicInfoForm().get("expertise")?.errors?.[ "required" ]
                                || formErrorService.backendErrors()["expertise"])'
                            [options]="expertise"
                            [placeholder]="
                                'register.expertise.label' | translate
                            "
                            valueField="id"
                            displayField="displayedName"
                            formControlName="expertise"
                        ></app-write-dropdowns>
                        @if (showValidationErrors() &&
                        academicInfoForm().get("expertise")?.errors?.["required"])
                        {
                        <div class="error">
                            <mat-icon svgIcon="errorQuadrilateral"></mat-icon>
                            You must select a expertise
                        </div>
                        } @if (formErrorService.backendErrors()["expertise"]) {
                        @for (error of
                        formErrorService.backendErrors()["expertise"]; track
                        $index) {
                        <div class="error">
                            <mat-icon svgIcon="errorQuadrilateral"></mat-icon>
                            {{ error }}
                        </div>
                        } }
                    </div>
                </div>
            </div>

            <button class="fill-button fill-red" type="submit">
                {{ "register.register" | translate }}
            </button>
            <div class="goBack">
                <a class="hyperlink" (click)="returnToPreviousStep()">
                    {{ "register.goBackLink" | translate }}
                </a>
            </div>
        </form>
        }
        <div class="language-selector-container">
            <div
                [class.open]="isOpenLang()"
                aria-label="Language selection"
                class="language-selector"
                role="region"
            >
                <button
                    (click)="toggleDropdownLang()"
                    [attr.aria-expanded]="isOpenLang()"
                    aria-controls="language-dropdown"
                    aria-label="Select language"
                    class="selector-button"
                >
                    @if (currentLanguage$ | async; as lang) {
                    <div>
                        <img
                            [src]="lang.flagSquare"
                            [alt]="lang.name"
                            class="flag-icon"
                        />
                        <span>{{ lang.name }}</span>
                    </div>
                    <mat-icon
                        svgIcon="arrowDown"
                        class="chevron"
                        [class.up]="isOpenLang()"
                        alt="arrowDown"
                        aria-hidden="true"
                    ></mat-icon>
                    }
                </button>
                @if (isOpenLang()) {
                <div class="dropdown-menu">
                    @for (lang of i18nService.supportedLanguages(); track
                    lang.code) { @if (lang.code !== i18nService.currentLang()) {
                    <button
                        class="language-option"
                        (click)="selectLanguage(lang.code)"
                        [attr.aria-label]="lang.name"
                    >
                        <img
                            [src]="lang.imgFullPath"
                            [alt]="lang.name"
                            class="flag-icon"
                        />
                        <span>{{ lang.name }}</span>
                    </button>
                    } }
                </div>
                }
            </div>
        </div>
    </div>
</main>
