<div class="profile">
    @if (showUploadDialog) {
        <profile-image-upload-dialog
            [currentImageUrl]="currentAvatarUrl()"
            (fileSelected)="handleFileSelected($event)"
            (fileRemoved)="handleAvatarRemoved()"
            (close)="closeUploadDialog()">
        </profile-image-upload-dialog>
    }

    <main class="profile__main">
        <section class="profile__header">
            <div (click)="handleUpdateBanner()" class="profile__banner">
                @if (!currentBannerUrl()) {
                    <div class="profile__banner-text">
                        <mat-icon aria-hidden="true" class="profile__banner-icon" svgIcon="addBanner"></mat-icon>
                        <h1 class="profile__banner-title">Додати баннер</h1>
                        <h2 class="profile__banner-subtitle">Оптимальний розмір 3200x410px</h2>
                    </div>
                } @else {
                    <div class="profile__banner-container" (click)="handleUpdateBanner()">
                        <img [src]="currentBannerUrl()" alt="" class="img-banner">
                        <div class="profile__banner-overlay">
                            <mat-icon aria-hidden="true" class="profile__banner-icon profile__change-banner-icon"
                                      svgIcon="changeAvatar"></mat-icon>
                            <h1 class="profile__change-banner-text" (click)="openUploadDialog('banner')">
                                Зміни зоображення баннера
                            </h1>
                            <button-yellow text="Видалити існуюче зоображення"
                                           (buttonClick)="handleBannerRemoved()"
                                           ariaLabel="dsgsd"
                            />
                        </div>
                    </div>
                }
            </div>
            <div class="profile__avatar-container">
                @if (currentAvatarUrl()) {
                    <img [src]="currentAvatarUrl()"
                         alt="Avatar Image"
                         class="profile__avatar"
                    />
                } @else {
                    <div class="profile__avatar">
                        <mat-icon svgIcon="defaultAvatar" class="profile__avatar-icon"></mat-icon>
                    </div>
                }
                <div [ngClass]="{
                  'profile__avatar-overlay': true,
                  'avatar-present--hover': !!currentAvatarUrl(),
                  'avatar-absent--hover': !currentAvatarUrl()
                }">
                    <mat-icon (click)="openUploadDialog('avatar')" aria-hidden="true"
                              class="profile__avatar-overlay-icon"
                              svgIcon="changeAvatar"></mat-icon>
                </div>
            </div>

            <div class="profile__info">
                <div class="profile__info-text">
                    <h1 class="profile__info-name"> {{ accountProfile()?.fullName }}</h1>
                    <h2 class="profile__info-email"> {{ accountProfile()?.email }}</h2>
                </div>
                <div class="profile__info-corner">
                    <p>
                        Registered at
                        {{ accountProfile()?.registeredAt! | date: 'fullDate': 'UTC': locale }}
                    </p>
                </div>
            </div>
        </section>
        <section aria-label="Profile Details" class="profile__meta-section">
            <div class="profile__meta-block">
                <div class="profile__meta-block-text">
                    <h1 class="profile__meta-block-title">Роль</h1>
                    <h2 class="profile__meta-block-subtitle">{{ accountProfile()?.technicalRole }}</h2>
                </div>
                <arrow-button borderColor="yellow" text="Підвищити роль" class="profile__meta-block-button" />
            </div>
            <div class="profile__meta-group">
                <div class="profile__meta-block profile__meta-block--group">
                    <div class="profile__meta-block-text">
                        <h1>Факультет</h1>
                        <h2>{{ accountProfile()?.department?.name?.en }}</h2>
                    </div>
                </div>
                <div class="profile__meta-block profile__meta-block--group">
                    <div class="profile__meta-block-text">
                        <h1>Спеціальність</h1>
                        <h2>
                            {{ accountProfile()?.specialty?.codeName + ' - ' + accountProfile()?.specialty?.name?.en }}
                        </h2>
                    </div>
                </div>
                <div class="profile__meta-block profile__meta-block--group">
                    <div class="profile__meta-block-text">
                        <h1>Експертиза</h1>
                        <h2>{{ accountProfile()?.expertise }}</h2>
                    </div>
                </div>
            </div>
        </section>

        <section aria-labelledby="supportHeading" class="profile__support">
            <h1 id="supportHeading">
                Якщо ви вказали невірні дані при реєстрації, які не можна змінити власноруч, зверніться, будь ласка,
                до
            </h1>
            <a class="profile__support-link" href="/">Підтримки</a>
        </section>

        <section aria-label="Projects in which I participated">
            <div class="profile__divider">
                <span class="profile__divider-title">Projects</span>
            </div>
                <ul class="profile__activity-block">
                    @if (projectsExist) {
                        @for (project of accountProjects(); track $index) {
                            <profile-item-card
                                imageUrl="assets/dogg1.jpg"
                                [title]="project.name.en"
                                [description]="project.description.en"
                                buttonText="Читати детальніше"
                                buttonAriaLabel="`Learn more about ` {{project.name.en}}}"
                                buttonColor="yellow"
                            >
                            </profile-item-card>
                        }
                    } @else {
                        <profile-fallback-card fallbackIconName="projectsNotFound"
                                               [fallbackText]="'Ви ще не брали участь ні одному проекті'"
                        />
                    }
                </ul>
            @if(showLoadMore) {
                <button aria-label="Load more projects" class="profile__more-projects" type="button"
                (click)="handleLoadAllAccountProjects()">
                    Більше проектів
                </button>
            }
        </section>

        <section aria-label="Education Programs">
            <div class="profile__divider profile__divider--red">
                <span class="profile__divider-title">Education Programs</span>
            </div>
            <ul class="profile__activity-block">
                @if (programsExist) {
                    @for (program of accountProfile()?.completedEducationPrograms; track $index) {
                        <profile-item-card
                            imageUrl="assets/dogg1.jpg"
                            title="Навчальний реформатор 3000"
                            [details]="label(program)"
                            buttonText="Action"
                            buttonAriaLabel="Learn more about Education Item 1"
                            buttonColor="red">
                        </profile-item-card>
                    }
                } @else {
                    <profile-fallback-card fallbackIconName="programsNotFound"
                                           [fallbackText]="'Ви ще не брали участь ні в 1 навчальній програмі'"
                    />
                }
            </ul>
        </section>
        <input
            #bannerInput
            (change)="handleBannerFileSelected($event)"
            accept="image/*"
            hidden
            type="file"
        />
    </main>
</div>
