<section class="team-section">
    <div class="team-container">
        <a class="team-info-wrapper" role="button" tabindex="0" href="#">
            <div class="team-info">
                <div class="team-header">
                    <img
                        loading="lazy"
                        [src]="iconPaths.code"
                        class="team-icon"
                        alt=""
                    />
                    <h2 class="team-title">
                        {{ "team-section.title" | translate }}
                    </h2>
                </div>
                <p class="team-description">
                    {{ "team-section.description" | translate }}
                </p>
            </div>
            <img
                loading="lazy"
                [src]="iconPaths.teamBg"
                class="team-image"
                alt="Team members showcase"
            />
        </a>
    </div>
</section>
