.fill-red {
    padding: 1.125rem 1rem;
    justify-content: center;
    align-items: center;

    border-radius: 0.3125rem;
    background: #e5383a;
    width: -webkit-fill-available;
    border: none;

    font-family: Geist;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    color: #fff;

    cursor: pointer;
}
