.campus-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 9.38rem;
}

.info-badge {
    border: 2px solid #edd342;
    background: #645b2a;
}

.highlight {
    border-bottom: 2px solid #edd342;
}

.option-title {
    color: #edd142;
}

.cta-button {
    color: #101010;
    background-color: #edd342;
}

details[open] {
    border-color: #edd142;
}

.requirements-section {
    margin: 6.25rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.81rem;
    width: 100%;
}

.requirements-title {
    color: #fff;
    text-align: center;
    font-family: Unbounded;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.06875rem;
    text-transform: uppercase;
}

.requirements-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3.125rem;
    align-items: center;
}

.requirement-card {
    flex: 1;
    padding: 2.1875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1875rem;
    border-radius: 0.3125rem;
    border: 1px solid #343434;
}

.icon-container {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 4.4375rem;
    background: #edd342;

    box-shadow: 0px 0px 15px 0px rgba(237, 211, 66, 0.15);
}

.requirement-icon {
    width: 3.125rem;
    height: 3.125rem;
    object-fit: contain;

    ::ng-deep svg {
        g path[fill] {
            fill: #000000 !important;
        }
    }
}

.requirement-content {
    margin-top: 2.19rem;
}

.requirement-title {
    color: #fff;

    font-family: Unbounded;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.05625rem;
    text-transform: uppercase;
    margin: 0;

    .highlight-text {
        color: #edd342;
    }
}

.requirement-description {
    color: #d1d1d1;
    margin: 1.25rem 0 0;

    font-family: Geist;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 173.333% */
    letter-spacing: 0.01875rem;
}

.decorative-arrow {
    width: 80px;
    object-fit: contain;
    color: #edd342;
}
