<div (click)="onClose()" aria-hidden="true" class="upload-dialog__backdrop"></div>

<div class="upload-dialog__wrapper">
    <div class="upload-dialog__outer-close" (click)="onClose()">
        <button aria-label="Close dialog" class="upload-dialog__close" type="button">
            <mat-icon svgIcon="closeDialog" class="close__icon"></mat-icon>
        </button>
    </div>

    <section aria-label="Image Upload Dialog" aria-modal="true" class="upload-dialog" role="dialog">
        <header class="upload-dialog__header">
            <button (click)="onClose()" aria-label="Close dialog" class="upload-dialog__close-desktop" type="button">
                <mat-icon svgIcon="closeDialog" class="close-desktop__icon"></mat-icon>
            </button>
        </header>
        <div class="upload-dialog__content">
            <div aria-label="Avatar Preview" class="upload-dialog__preview">
                @if (currentImageUrl) {
                    <img [src]="currentImageUrl" alt="Current avatar image" class="upload-dialog__preview--avatar"/>
                } @else {
                    <figure class="default-avatar-container" aria-label="Default avatar placeholder">
                        <mat-icon svgIcon="defaultAvatar" class="default-avatar-container__icon"></mat-icon>
                    </figure>
                }
            </div>
            @if (errorMessage) {
                <p class="upload-dialog__error">
                    {{ errorMessage }}
                </p>
            }
            <hr aria-hidden="true" class="upload-dialog__divider"/>
            <label aria-label="Select an image file to upload" class="upload-dialog__file-label">
                <span class="upload-dialog__file-text">
                      @if (isNewFileSelected()) {
                          {{ 'accountProfile.button.avatar.uploadAnother' | translate }}
                      } @else {
                          {{ 'accountProfile.button.avatar.uploadNew' | translate }}
                      }
                </span>
                <input (change)="onFileChange($event)" accept="image/*" hidden type="file"/>
            </label>
            @if (isNewFileSelected()) {
                <button type="button"
                        class="upload-dialog__file-label upload-dialog__file-label--file-selected"
                        aria-label="Select an image file to upload"
                        (click)="handleFileUpload()">
                    {{ 'accountProfile.button.submit' | translate }}
                </button>
            }
            @if (currentImageUrl) {
                <button class="upload-dialog__remove-avatar" type="button" (click)="onFileRemove()"
                        aria-label="Remove existing avatar">
                    {{ 'accountProfile.button.avatar.delete' | translate }}
                </button>
            }
        </div>
    </section>
</div>
