<main class="login">
    <div class="login__container">
        <div class="form-container">
            <a [routerLink]="['/']" class="hyperlink homePageLink">
                <mat-icon svgIcon="arrowLeft"></mat-icon>
                <span>
                    {{ "login.goHomeLink" | translate }}
                </span>
            </a>
            <form [formGroup]="personalInfoForm()" (ngSubmit)="onSubmit()">
                <h2>{{ "login.title" | translate }}</h2>
                <div class="forms">
                    <div class="email">
                        <app-label-input
                            controlName="email"
                            [label]="'login.email.label' | translate"
                            [errors]="VALIDATION_KEYS.email"
                            type="email"
                            [isEmail]="true"
                            domainSuffix="@knu.ua"
                            (emailInput)="onEmailInput($event)"
                            (emailBlur)="formatEmailOnBlur()"
                        ></app-label-input>
                    </div>
                    <div class="password">
                        <app-label-input
                            controlName="password"
                            [label]="'login.password.label' | translate"
                            [errors]="VALIDATION_KEYS.password"
                            type="password"
                            [preventClipboard]="true"
                        ></app-label-input>
                        <div class="forget-password">
                            <p>
                                {{ "login.forgetPassword.label" | translate }}
                            </p>
                            <a href="#" class="hyperlink">{{
                                "login.forgetPassword.link" | translate
                            }}</a>
                        </div>
                    </div>
                </div>
                <button type="submit" class="fill-button fill-red">
                    {{ "login.continue" | translate }}
                </button>

                <div class="register">
                    <p>{{ "login.dontHaveAccount.label" | translate }}</p>
                    <a [routerLink]="['/auth/register']" class="hyperlink">
                        {{ "login.dontHaveAccount.link" | translate }}
                    </a>
                </div>
            </form>
        </div>
        <div class="language-selector-container">
            <div
                [class.open]="isOpenLang()"
                aria-label="Language selection"
                class="language-selector"
                role="region"
            >
                <button
                    (click)="toggleDropdownLang()"
                    [attr.aria-expanded]="isOpenLang()"
                    aria-controls="language-dropdown"
                    aria-label="Select language"
                    class="selector-button"
                >
                    @if (currentLanguage$ | async; as lang) {
                    <div>
                        <img
                            [src]="lang.flagSquare"
                            [alt]="lang.name"
                            class="flag-icon"
                        />
                        <span>{{ lang.name }}</span>
                    </div>
                    <mat-icon
                        svgIcon="arrowDown"
                        class="chevron"
                        [class.up]="isOpenLang()"
                        alt="arrowDown"
                        aria-hidden="true"
                    ></mat-icon>
                    }
                </button>
                @if (isOpenLang()) {
                <div class="dropdown-menu">
                    @for ( lang of i18nService.supportedLanguages(); track
                    lang.code ) { @if (lang.code !== i18nService.currentLang())
                    {
                    <button
                        class="language-option"
                        (click)="selectLanguage(lang.code)"
                        [attr.aria-label]="lang.name"
                    >
                        <img
                            [src]="lang.imgFullPath"
                            [alt]="lang.name"
                            class="flag-icon"
                        />
                        <span>{{ lang.name }}</span>
                    </button>
                    } }
                </div>
                }
            </div>
        </div>
    </div>
</main>
