<div class="select-container" [class.open]="isOpen">
    <div
        class="select-header"
        (click)="toggleDropdown()"
        [class.has-value]="selectedOption"
        [class.focused]="isOpen"
    >
        <label class="select-label">{{ placeholder }}</label>
        @if (isOpen) {
        <input
            #searchInput
            type="text"
            [(ngModel)]="searchQuery"
            (input)="filterOptions()"
            (click)="preventClose($event)"
            class="search-input"
            placeholder="Пошук..."
            maxlength="16"
        />
        } @if (!isOpen) {
        <span class="select-value" (click)="toggleDropdown($event)">
            @if (selectedOption){ {{ getDisplayValue(selectedOption) }} }
        </span>
        }
        <mat-icon
            svgIcon="arrowDown"
            class="arrow-icon"
            [class.open]="isOpen"
        ></mat-icon>
    </div>

    @if (isOpen) {
    <div class="select-dropdown">
        @if (hasNoResults) {
        <div class="no-results">
            <mat-icon svgIcon="errorTriangle"></mat-icon>
            <span>По запиту "{{ searchQuery }}" нічого не знайдено</span>
        </div>
        } @else { @for (option of filteredOptions; track option[valueField]) {
        <div
            class="option-item"
            [class.selected]="option[valueField] === selectedOption?.[valueField]"
            [class.faded]="!option.visible"
            (click)="selectOption(option)"
        >
            <span [innerHTML]="highlightText(getDisplayValue(option))"></span>
        </div>
        } }
    </div>
    }
</div>
