@use "../../common/styles/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cursor-color: white;
}

.page {
    padding-left: 5.5vw;
    padding-right: 5.5vw;
    padding-bottom: 5.5vw;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-sizing: content-box !important;
    padding-left: 2.2rem;
    height: 30rem;
}

.header__page-title {
    max-width: 550px;
    font-weight: 500;
    color: #ffffff;
    font-family: Unbounded, sans-serif;
    text-transform: uppercase;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: clamp(2.7rem, 5vw, 3.125rem);
    font-style: normal;
    letter-spacing: 2.5px;
    line-height: 1.2;
}

.header__page-title__second-part {
    display: inline-block;
    border-right: 1px solid var(--cursor-color);
    animation: blinking 1s steps(1, end) infinite,
    typing 4s steps(40, end);
    overflow: hidden;
    white-space: nowrap;
}

@keyframes blinking {
    0% {
        border-color: transparent
    }
    50% {
        border-color: var(--cursor-color);
    }
    100% {
        border-color: transparent
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.header__page-description {
    max-width: 600px;
    margin-top: 1.25rem;
    font-weight: initial;
    line-height: 1.6;
    color: #d1d1d1;
    font-size: clamp(0.8rem, 5vw, 1rem);
}

.header__shadow {
    width: 700px;
    height: 250px;
    position: absolute;
    bottom: -12rem;
    left: 10rem;
    filter: blur(72.9px);
    border-radius: 50%;
    clip-path: polygon(-100% -100%, 200% -100%, 200% 50%, -100% 50%);
    background: rgba(56, 55, 55, 0.4);
}

.header__roles-wrapper {
    display: grid;
    max-width: 43.75rem;
    grid-template-columns: repeat(3, 11vw);
    gap: 1.5rem;
    grid-auto-rows: minmax(3rem, 4rem);
    grid-template-areas:
        "A B C"
        "D D D";
}

.header__roles-wrapper__intern {
    grid-area: A;
    border: #201fa3 solid 1px;
    padding: 0.9rem;
}

.header__roles-wrapper__intern:hover {
    background: #201fa3;
    cursor: pointer;
    padding: 0.9rem;
}

.header__roles-wrapper__developer {
    grid-area: B;
    border: #a50000 solid 1px;
    padding: 0.9rem;
}

.header__roles-wrapper__developer:hover {
    background: #a50000;
    cursor: pointer;
    padding: 0.9rem;
}

.header__roles-wrapper__pre-master {
    grid-area: C;
    border: green solid 1px;
    padding: 0.9rem;
}

.header__roles-wrapper__pre-master:hover {
    background: green;
    cursor: pointer;
    padding: 0.9rem;
}

.header__roles-wrapper__bottom-roles-block {
    grid-area: D;
}

.header__roles-wrapper__bottom-roles-block {
    display: flex;
    gap: 1.56rem;
}

.header__roles-wrapper__master {
    border: blueviolet solid 1px;
    width: 50%;
    padding: 0.9rem;
}

.header__roles-wrapper__master:hover {
    background: blueviolet;
    cursor: pointer;
    padding: 0.9rem;
}

.header__roles-wrapper__techlead {
    border: #a3a319 solid 1px;
    width: 50%;
}

.header__roles-wrapper__techlead:hover {
    background: #a3a319;
    color: black;
    cursor: pointer;
}

.header__roles-wrapper__role {
    display: flex;
    color: white;
    font-family: Unbounded, sans-serif;
    font-size: 0.8rem;
    font-weight: inherit;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 0.2rem;
    transition: all 0.3s ease;
}

.blocks-separator {
    position: relative;
    border: #a0a0a0 outset 1px;
    width: 90vw;
}

.info-card {
    display: flex;
    height: auto;
    width: 90vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 9.375rem;
    margin-bottom: 5rem;
}

.arrow {
    height: 2rem;
    color: #a0a0a0;
}

.switch {
    display: flex;
}

.info-card__card-switcher-block__next {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    cursor: pointer;
    gap: 1.5rem;
}

.info-card__card-switcher-block__next:hover {
    .arrow {
        color: white;
    }

    .switch-text {
        color: white;
    }
}

.info-card__card-switcher-block__prev:hover {
    .arrow {
        color: white;
    }

    .switch-text {
        color: white;
    }
}

.info-card__card-switcher-block__prev {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5vw;
    cursor: pointer;
    gap: 1.5rem;
}

.switch-text {
    writing-mode: vertical-lr;
    font-weight: bolder;
    font-family: Unbounded, sans-serif;
    text-transform: uppercase;
    color: #a0a0a0;
}

.switch:hover {
    cursor: pointer;
}

.info-card__intern {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 70vw;
    align-items: start;
    justify-content: space-between;
    background: rgba(24, 24, 24, 0.5);
    border-radius: 0.2rem;
    border: #3e3d3d solid 2px;
    position: relative;
    padding: 2.187rem;
}

.info-card__intern__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.info-card__intern__header__title {
    color: white;
    font-family: Unbounded, sans-serif;
    font-weight: 550;
    font-size: 1.3rem;
}

.info-card__intern__header__subtitle {
    color: lightgray;
    font-family: Unbounded, sans-serif;
    font-weight: 450;
    font-size: 0.75rem;
}

.info-card__intern__role-description {
    text-wrap: wrap;
    color: white;
    margin-top: 1.56rem;
    font-family: "Fixel Text";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625;
    letter-spacing: 0.3px;
}

.info-card__intern__data__duties {
    border: 2px solid #201fa3;
    border-radius: 5px;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    padding: 1.56rem;
    width: 100%;
}

.info-card__intern__data__advantages {
    border: 2px solid #201fa3;
    border-radius: 5px;
    padding: 1.56rem;
    width: 100%;
}

.info-card__intern__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-card__intern__data__duties__title {
    color: white;
    font-family: Unbounded, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625;
    font-style: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 0.9rem;
}

.info-card__intern__data__duties__duty-type {
    color: white;
    font-family: "Fixel Text";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625;
    letter-spacing: 0.3px;
}

.info-card__intern__data__advantages__title {
    color: white;
    font-family: Unbounded, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625;
    font-style: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 0.9rem;
}

.info-card__intern__data__description {
    color: white;
    font-family: "Fixel Text";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625;
    letter-spacing: 0.3px;
}

.roles-hierarchy {
    margin: 5rem auto;
}

.roles-hierarchy__title {
    display: flex;
    color: white;
    font-family: Unbounded, sans-serif;
    font-weight: 450;
    padding-bottom: 3rem;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

@include tablet {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 6.25rem 2.1875rem;
    }

    .header__main-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__roles-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0rem, 27vw));
        gap: 1.5625rem;
        grid-auto-rows: minmax(2rem, 4rem);
        grid-template-areas:
          "A B C"
          "D D D";
        justify-content: center;
    }

    .header__shadow {
        width: 500px;
        height: 200px;
        left: unset;
    }

}

@include mobile {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 6.25rem 2.1875rem;
        height: 25rem;
    }

    .header__shadow {
        height: 250px;
        width: 250px;
    }

    .header__main-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__page-title {
        font-size: clamp(2rem, 5vw, 3.125rem);
    }

    .header__page-description {
        font-size: clamp(0.6rem, 5vw, 1rem);
    }

    .header__roles-wrapper {
        display: none;
    }

    .info-card__card-switcher-block__next {
        display: none;
    }

    .info-card__card-switcher-block__prev {
        display: none;
    }

    .info-card {
        margin-top: 4.062rem;
    }

    .info-card__intern {
        width: 100%;
        padding-top: 2.1875rem;
    }

    .info-card__intern__header__title {
        margin-bottom: 0.625rem;
    }

    .info-card__intern__header {
        display: grid;
        flex-direction: column;
        justify-content: start;
        grid-template-areas:
              "A"
              "B";
    }

}
